@import "~@nti/style-common";

$CUSTOM_RANGES: (
	ipadpro: (1023px, 1366px)
);

.course-catalog {
	.redeem-class {
		max-width: 400px;
		margin: 135px auto 0;
	}

	.redeem-txt {
		max-width: 335px;
		margin: 0 auto;

		h3 {
			color: #000;
			font-size: 36px;
			font-weight: 300;
			line-height: 49px;
			text-align: center;
		}

		p {
			color: var(--secondary-grey);
			font-size: 16px;
			line-height: 24px;
			margin: 30px 0;
			text-align: center;
		}
	}

	.input-redeem {
		width: 100%;

		input, button {
			height: 50px;
			display: block;
			float: left;
		}

		input {
			color: var(--primary-grey);
			font-size: 16px;
			width: 296px;
			padding: 0 20px;

			&::placeholder {
				color: var(--tertiary-grey);
			}

			@include responsive-range(mobile) {
				width: 70%;
			}
		}

		button {
			width: 104px;
			border-radius: 0 4px 4px 0;
			background-color: var(--primary-blue);
			border-color: transparent;
			font-size: 16px;
			color: #fff;
			margin-left: -1px;
			cursor: pointer;
			padding: 0;

			@include responsive-range(mobile) {
				width: 30%;
			}

			&:hover {
				opacity: 0.7;
			}
		}
	}

	.error-redeem {
		color: red;
		clear: both;
		text-align: center;
	}

	.error-input-redeem {
		border: 1px solid red;
	}

	.success-redeem {
		background-color: var(--secondary-green);
		height: 60px;
		text-align: center;
		padding-top: 1px;
		color: #fff;
	}

	.loading-redeem {
		position: relative;
		text-align: center;
	}
}
