@import "~nti-style-common";
.catalog {
	.course-card {
		display: -ms-flexbox;
		display: flex;
		// margin-bottom: 30px;
		&:hover {
			.course-block {
				cursor: pointer;
				&:hover {
			        img {
			            -webkit-transform: scale(1.3);
			            transform: scale(1.3);
			        }
		        }
			}
		}
		li{
			list-style-type: none;
		}
	}
	.content-right {
		width: 77%;
		float: right;
		ul {
			overflow: visible;
		}
	}

}
