@import "~nti-style-common";


.course-catalog {
	.course-card {
		&:hover {
			.course-block {
				cursor: pointer;

				&:hover {
					img {
						transform: scale(1.03);
						opacity: 0.7;
					}
				}
			}
		}

		li {
			list-style-type: none;
		}
	}

	.content-right {
		width: 76%;

		@include responsive-range(desktop) {
			float: right;
			margin-left: 9px;
		}

		ul {
			overflow: visible;
			list-style: none;
			clear: both;
		}
	}
}
