@import "~nti-style-common";

.course-catalog {
	.carousel {
		width: 100%;
		position: relative;

		button {
			position: absolute;
			top: 50%;
			transform: translateY(-50%) rotate(90deg);
			background-color: transparent;
			border: none;
			box-shadow: none;
			cursor: pointer;

			&.icon-chevronup-25 {
				right: 50px;
				font-size: 50px;
				color: #ebebeb;
				font-weight: lighter;
			}

			&.icon-chevrondown-25 {
				left: 50px;
				font-size: 50px;
				color: #ebebeb;
				font-weight: lighter;
			}
		}
	}

	.carousel-content {
		display: inline-block;
		overflow: hidden;
		outline: 0;

		&--image {
			position: relative;
		}
	}

	.animation {
		&--next {
			&-enter {
				opacity: 0.01;

				&.animation--next-enter-active {
					opacity: 1;
					transition: opacity 1s ease-in;
				}
			}

			&-exit {
				left: 0;
				position: absolute;
				top: 0;
				opacity: 1;
				width: 100%;

				&.animation--next-exit-active {
					width: 100%;
					opacity: 0.01;
					transition: opacity 0.5s ease-in;
				}
			}
		}

		&--previous {
			&-enter {
				opacity: 0.01;

				&.animation--previous-enter-active {
					opacity: 1;
					transition: opacity 1s ease-in;
				}
			}

			&-exit {
				left: 0;
				position: absolute;
				top: 0;
				opacity: 1;
				width: 100%;

				&.animation--previous-exit-active {
					width: 100%;
					opacity: 0.01;
					transition: opacity 0.5s ease-in;
				}
			}
		}
	}
}
