@import "~nti-style-common";
.carousel {
	width: 100%;
	position: relative;
	.carousel-block {
		padding: 20px 0;
		background-size: cover;

		.title-carousel {
			width: 350px;
			color: #FFFFFF;
			font-size: 28px;
			font-family: $header-font-family;
			line-height: 34px;
			text-transform: uppercase;
		}
		.detail-txt {
			width: 350px;
			opacity: 0.7;
			color: #FFFFFF;
			font-size: 16px;
			font-style: italic;
			line-height: 22px;
			margin-top: 10px;
		}
	}
	.content-carousel {
		width: 80%;
		margin: 0 auto;
		position: relative;
		.img-content {
			object-fit: cover;
			width: 361px;
			height: 220px;
			position: absolute;
			top: 43%;
			transform: translateY(-50%);
			right: 40px;
		}
		.statistic {
			li {
				float: left;
				p {
					color: $primary-blue;
					font-size: 14px;
					font-weight: 600;
					line-height: 19px;
					margin: 10px;
					margin-top: 18px;
					&.date {
						margin-left: 0;
					}
					&.spot {
						width: 117px;
						border-radius: 100px;
						background-color: rgba(255,255,255,0.2);
						font-size: 14px;
						font-weight: 600;
						line-height: 19px;
						color: #fff;
						text-align: center;
						padding: 7px 0;
						margin-top: 12px;
					}
				}
			}
		}
	}
	button {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 15px;
		height: 40px;
		border: none;
		box-shadow: none;
        cursor: pointer;
		&.arrow-right {
			right: 40px;
			background: url(./images/arrow1.png) no-repeat;
			background-size: 100%;
		}
		&.arrow-left {
			left: 40px;
			background: url(./images/arrow.png) no-repeat;
			background-size: 100%;
		}
	}
}
.carousel-content {
	display: inline-block;
	overflow: hidden;
	outline: 0px;

	&--image {
		border: 1px solid #fff;
		position: relative;
	}
}

.animation {

	&--next {

		&-enter {
			transform: translate(100%,0);
			transition: transform 1s;

			&.animation--next-enter-active {
				transform: translate(0,0);
			}
		}

		&-leave {
			left: 0;
			position: absolute;
			top: 0;
			transform: translate(0,0);
			transition: transform 1s;

			&.animation--next-leave-active {
				transform: translate(-100%,0);
			}
		}
	}

	&--previous {

		&-enter {
			transform: translate(-100%,0);
			transition: transform 1s;

			&.animation--previous-enter-active {
				transform: translate(0,0);
			}
		}

		&-leave {
			left: 0;
			position: absolute;
			top: 0;
			transform: translate(0,0);
			transition: transform 1s;

			&.animation--previous-leave-active {
				transform: translate(100%,0);
			}
		}
	}
}

.example-enter {
  opacity: 0.01;
}

.example-enter {
	&.example-enter-active {
		opacity: 1;
  		transition: opacity 500ms ease-in;
	}
}

.example-leave {
  opacity: 1;
}

.example-leave {
	&.example-leave-active {
		 opacity: 0.01;
  		transition: opacity 300ms ease-in;
	}
}
