@import "~nti-style-common";

.catalog-course-popup-detail {
	.modalDialog {
		position: fixed;
		font-family: Arial, Helvetica, sans-serif;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.8);
		z-index: 99999;
		transition: opacity 400ms ease-in;
		overflow: auto;
	}

	.modalDialog .popup-container {
		width: 1024px;
		position: relative;
		margin: 5% auto;
		border-radius: 0;
		background: #fff;
	}

	.modalDialog {
		.popup-container {
			width: 1024px;
			min-height: 300px;

			.dialog-top {
				background: $panel-background;
				padding: 10px 22px;
				position: relative;

				.close-dialog {
					position: absolute;
					content: '';
					background: url(../../images/sprite.png) no-repeat;
					background-position: -1241px -417px;
					width: 26px;
					height: 26px;
					top: 17px;
					right: 20px;
					cursor: pointer;
				}

				.close-dialog:hover {
					position: absolute;
					content: '';
					background: url(../../images/sprite.png) no-repeat;
					background-position: -1267px -417px;
					width: 26px;
					height: 26px;
					top: 17px;
					right: 20px;
					cursor: pointer;
				}

				.sub-title {
					color: $tertiary-grey;
					font-size: 10px;
					font-weight: bold;
					line-height: 14px;
				}

				h3 {
					color: $primary-grey;
					font-size: 20px;
					line-height: 27px;
					font-weight: normal;
					margin: 0;
				}

				//.close-popup {
				//}
			}

			.content-dialog {
				background: #000;
				padding: 30px 22px;
				overflow: hidden;

				.content-dialog-left {
					width: 60%;
					float: left;
					background: #fff;

					.video {
						position: relative;
						padding-bottom: 49.25%; 
						padding-top: 25px;
						height: 0;
					}

					iframe {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
					}

					.description {
						p {
							color: $primary-grey;
							font-size: 14px;
							line-height: 24px;
							padding: 15px 10px;
						}
					}
				}

				.content-dialog-right {
					width: 37.5%;
					float: right;
					background: #fff;
					margin-left: 20px;
					position: relative;
					padding-bottom: 29.25%;
					padding-top: 25px;
					height: 0;

					p {
						padding: 0 22px;
					}

					.status-course {
						overflow: hidden;
						padding-bottom: 25px;

						p {
							&.title {
								float: left;
								color: $primary-grey;
								font-size: 18px;
								line-height: 24px;
							}

							&.status {
								float: right;
								color: $primary-green;
								font-size: 18px;
								line-height: 24px;
							}
						}
					}

					.detail-course {
						p {
							color: $primary-grey;
							font-size: 14px;
							line-height: 24px;
						}
					}

					.add-course {
						position: absolute;
						bottom: 0;
						background-color: $primary-blue;
						width: 100%;
						padding: 15px 0;
						text-align: center;

						a {
							color: #fff;
							font-size: 18px;
							line-height: 24px;
						}
					}
				}
			}
		}
	}

	.course-video {
		height: 365px;
		width: 650px;
	}
}
