.catalog-grid {
}

@media (min-width: 420px) and (max-width: 735px) {
	.catalog-grid.allow-two-columns {
		display: grid;
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: auto;
		max-width: 591px;
		grid-gap: var(--catalog-gap, 18px);
	}
}


@media (min-width: 736px) and (max-width: 799px) {
	.catalog-grid {
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: auto;
		max-width: 591px;
		grid-gap: var(--catalog-gap, 18px);
	}
}

@media (min-width: 800px) and (max-width: 1043px) {
	.catalog-grid {
		max-width: 762px;
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: auto;
		grid-gap: var(--catalog-gap, 18px);
	}
}


@media (min-width: 1044px) {
	.catalog-grid {
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: repeat(4, 1fr);
		grid-auto-rows: auto;
		grid-gap: var(--catalog-gap, 18px);
	}
}