@import "~nti-style-common";
.course-catalog {
	.redeem-block {
		p {
			position: relative;
			padding-left: 25px;

			&::before {
				position: absolute;
				left: 0;
				content: '';
				background: url(./assets/redeem.png) no-repeat;
				height: 15px;
				width: 16px;
				top: 2px;
			}
		}
	}
}