@import "~nti-style-common";

.course-catalog {
	.search-block {
		box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.13);
	}

	.search-result {
		width: 80%;
		margin: 0 auto;
		padding: 45px 0;

		a {
			color: #757474;
			font-size: 14px;
			line-height: 19px;
		}

		p {
			color: #494949;
			font-size: 36px;
			font-weight: 300;
			line-height: 49px;
			margin-bottom: 0;
			margin-top: 25px;
		}
	}
}
