@import "~nti-style-common";

@mixin bg-gradient($color1, $color2) {
	background: linear-gradient(45deg, $color1, $color2);
}

.course-catalog {
	.content-catalog {
		&.no-sidebar {
			.course-block, .categories-block {
				&:nth-child(3n+3) {
					margin-right: 9px;
				}

				&:nth-child(4n+4) {
					margin-right: 0;
				}
			}

			.course-card {
				margin-left: -9px;
			}

			.content-right {
				width: 100%;
			}
		}
	}

	.course-block {
		width: 242px;
		background-color: #fff;
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
		padding: 5px;
		position: relative;
		min-height: 290px;
		list-style: none;
		float: left;
		margin: 9px;

		&:nth-child(3n+3) {
			margin-right: 0;
		}

		figure {
			overflow: hidden;
			height: 176px;
		}

		img {
			width: 100%;
			cursor: pointer;
			transform: scale(1);
			transition: 0.3s ease-in-out;
			height: 100%;
		}

		.course-panel {
			width: 100%;
			height: 100%;
			background-color: #fff;
		}

		.info-course {
			padding: 0 5px;

			.course-title {
				font: normal 700 1em/1.1em "Open Sans Condensed";
				max-height: 2.2em;
				overflow: hidden;
				text-transform: uppercase;
			}

			span {
				color: $tertiary-grey;
				font-size: 10px;
				font-weight: bold;
				line-height: 14px;
				display: block;
				margin: 5px 0;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				text-transform: uppercase;
			}

			h3 {
				color: $primary-grey;
				font-size: 16px;
				line-height: 18px;
				font-family: $header-font-family;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				text-transform: uppercase;
				margin: 0 0 15px;
			}

			p {
				text-transform: uppercase;
				display: block;
				color: $primary-blue;
				font-size: 10px;
				font-weight: bold;
				line-height: 14px;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
		}

		.stamp {
			span {
				position: absolute;
				top: 15px;
				left: 10px;
				color: #fff;
				font-size: 10px;
				font-weight: bold;
				line-height: 14px;
				padding: 4px 10px 4px 20px;
				border-radius: 2px;
				background-color: $primary-green;
				text-transform: uppercase;

				&.start {
					padding: 4px 10px;
					background-color: $primary-blue;

					&.right {
						right: 10px;
						left: unset;
					}
				}

				&.enroll {
					&::before {
						position: absolute;
						content: '✔';
						color: #fff;
						width: 6px;
						height: 6px;
						top: 5px;
						left: 8px;
					}
				}

				&.finish {
					&.right {
						right: 10px;
						left: unset;
					}

					padding: 4px 10px;
					background-color: $secondary-grey;
				}

				&.admin {
					&::before {
						position: absolute;
						color: #fff;
						width: 6px;
						height: 6px;
						top: 5px;
						left: 8px;
					}
				}
			}
		}
	}

	.categories-block {
		width: 242px;
		position: relative;
		height: 80px;
		list-style: none;
		float: left;
		margin: 9px;
		text-align: center;
		border: 1px solid rgba(0, 0, 0, 0.2);
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
		border-radius: 10px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		cursor: pointer;

		&.orange {
            @include bg-gradient(#fc7126 , #fcae26 );
            
     }

    &.yellow {
        @include bg-gradient(#ffae00 , #fd0);
    }

    &.green {
        @include bg-gradient(#14b349 , #72f290 );
    }

    &.blue {
        @include bg-gradient(#198ffc , #63ccfd );
    }

    &.dark-blue {
        @include bg-gradient(#0a3db4 , #1f85fc );
    }

    &.purple {
        @include bg-gradient(#7f38d6 , #d638c4 );
    }

    &.pink {
        @include bg-gradient(#ec5163 , #ff94b3 );
    }

    &.red {
        @include bg-gradient(#d11538 , #ff476a );
    }

    &.black {
        @include bg-gradient(#252626 , #646566 );
    }

    &.grey {
        @include bg-gradient(#5f7e8d , #99c0d4 );
    }

		&:nth-child(3n+3) {
			margin-right: 0;
		}

		.category-collapse {
			font-size: 18px;
			font-weight: 600;
			margin: 0;
			color: #fff;
			text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.2);
			position: absolute;
			width: 100%;
			height: 80px;
			top: 50%;
			padding: 25px;
			left: 50%;
			transform: translate(-50%, -50%);
			text-transform: uppercase;
		}
	}
}
