@import "~nti-style-common";

.catalog-body {
	width: 100%!important;
}

.catalog {
	overflow: hidden;

	.hidden {
		display: none;
	}

	.list-style {
		list-style: inherit;
		color: $primary-blue;
	}

	.container {
		padding: 0;
		margin: 0 auto;
		width: 100%;
	}

	ul, ol {
		padding-left: 0;
		overflow: hidden;
		margin: 0;
	}

	a {
		cursor: pointer;
		text-decoration: none;
	}

	//===============================Header======================//
	header {
		display: flex;
		padding: 10px 30px 5px;

		.logo {
			max-width: 40px;
			height: 40px;
			background: #8e8e8e;
			border-radius: 100%;
			float: left;
			margin-right: 50px;
			width: 10%;
			margin-top: 5px;

			img {
				display: block;
				margin: 0 auto;
				padding-top: 11px;
			}
		}

		.menu {
			width: 40%;
			float: left;

			h1 {
				margin-bottom: 10px;
			}

			ul {
				li {
					float: left;
					margin-right: 50px;

					a {
						color: #000;
						font-size: 16px;
						line-height: 22px;
						cursor: pointer;
						padding-bottom: 3px;

						&:hover {
							color: $primary-blue;
							font-weight: 600;
							border-bottom: 2px solid $primary-blue;
						}
					}
				}
			}
		}
	}


	//===============================Content======================//
	.content-catalog {
		width: 80%;
		margin: 40px auto;

		&.no-sidebar {
			.side-bar-left {
				display: none;
			}

			.content-right {
				width: 100%;
				float: none;
			}
		}
		//===============================Side-Bar======================//
	}

	figure {
		margin: 0;
	}
}
