.catalog-frame {
	--catalog-gap: 18px;
}

:global(.course-catalog-body) {
	min-width: 100%;
	max-width: 100%;
	min-height: calc(100vh - 92px);

	html:global(.msg-bar-open) & {
		min-height: calc(100vh - 140px);
	}
}